<h3>{{leyenda}}</h3>
<div class="input-group">
  <input
    #txtprogress
    type="number"
    class="form-control"
    name="progreso"
    max="100"
    min="0"
    [(ngModel)]="progreso"
    (ngModelChange) ="onChanges($event)"
  />
  <div class="input-group-append">
    <button
      class="btn btn-outline-primary"
      type="button"
      (click)="cambiarValor(-5)"
    >
      <a class="fa fa-minus"></a>
    </button>
    <button
      class="btn btn-outline-primary"
      type="button"
      (click)="cambiarValor(5)"
    >
      <a class="fa fa-plus"></a>
    </button>
  </div>
</div>
